.employeeList {
  display: flex;
  flex-flow: row wrap;
  border: 0.5px solid black;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding: 5rem 1rem;
  margin: 1rem auto;
  justify-content: center;
}

.deletebtn {
  width: 100%;
  padding: 5px 10px;
  background-color: var(--dark);
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  color: black;
}
